.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

#searchBoxContainer {
  margin-left: 0;
}

#sortButtonsContainer {
  margin-left: 10;
}

#searchResultsContainer {
  margin-left: 0;
}
