/* Showcase section */
#showcase {
  background: #333 url("../img/landing.jpeg") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase-details {
  background: #333 url("../img/details.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;

  align-items: center;
  height: 100%;
  padding: 6rem 2rem;
  /* Overlay */
  position: absolute;
  top: 50;
  left: 0;
  right: 0;
  bottom: 1;
}

.text-center {
  text-align: center;
}

.l1-heading {
  font-size: 3rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

/* Newest items */
