{% extends 'base.html' %} {% block content %}

<!-- Showcase -->
<header id="showcase">
  <div class="showcase-content">
    <div class="text">
      <h1 class="l1-heading">
        UVA Furniture
      </h1>
      <p class="lead">
        Explore | Buy | Sell
      </p>
    </div>
  </div>
</header>

<div class="items">
  <div class="item">
    <a href="{% url 'frontend:item_details' resp.0.id %}">
      <img src="../static/img/stock.jpeg" alt="Stock" />
    </a>
    <h3>{{ resp.0.name }}</h3>
    <p>
      {{ resp.0.description }}
    </p>
  </div>
  <div class="item">
    <a href="{% url 'frontend:item_details' resp.1.id %}">
      <img src="../static/img/stock.jpeg" alt="Stock" />
    </a>
    <h3>{{ resp.1.name }}</h3>
    <p>
      {{ resp.1.description }}
    </p>
  </div>
  <div class="item">
    <a href="{% url 'frontend:item_details' resp.1.id %}">
      <img src="../static/img/stock.jpeg" alt="Stock" />
    </a>
    <h3>{{ resp.2.name }}</h3>
    <p>
      {{ resp.2.description }}
    </p>
  </div>
</div>

<!-- Newest Items -->
{% endblock %}
