{% extends 'base.html' %} {% block content %}

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">UVA Furniture</h1>
    <p class="lead text-muted">A site where University of Virginia students can buy and sell their old furniture.</p>
    <p>
      <a href="{% url 'frontend:create_listing' %}" class="btn btn-primary my-2">Sell</a>
      <a href="{% url 'frontend:search' %}" class="btn btn-secondary my-2">Search...</a>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../static/img/stock.jpeg" alt="Stock">
          <div class="card-body">
            <h3 class="card-text">{{ resp.0.name }}</h3>
            <p> ${{ resp.0.price }} </p>
            <p> {{ resp.0.description }} </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" onclick="window.location.href='{% url 'frontend:item_details' resp.0.id %}'" class="btn btn-sm btn-outline-secondary">View</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
{% endblock %}
