{% extends 'base.html' %} {% block content %}

<body id="item-details">
  <div class="showcase-content">
    <div class="card" id="item-card">
      <div class="card-body">
        <h5 class="card-title" id="item-card-title">{{ item.name }}</h5>
        <div class="card-text" id="item-card-body">
          <ul class="list-group">
            <li class="list-group-item">Description: {{ item.description }}</li>
            <li class="list-group-item">Price: ${{ item.price }}</li>
            <li class="list-group-item">
              Category:
              <p style="display:inline">
                {% for c in item.category %} {% if forloop.last %}
                {{ c }}
                {% else %}
                {{ c }}, {% endif %} {% endfor %}
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-auto">
        <p>{{ recommendations }}</p>
      </div>
    </div>
  </div>
</body>

{% endblock %}
