{% extends 'base.html' %} {% block content %}

<div class="container" style="margin-bottom:30px">
  <div class="row">
    <div class="col-md-6 mx-auto text-center">
      <div class="header-title" style="margin-top:80px; margin-bottom:40px">
        <h1 class="wv-heading--title">
          Login
        </h1>
        <h2 class="wv-heading--subtitle">
          Get access to buying and selling!
        </h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="myform form">
        <form action="/login/?next={{ next_link }}" method="post">
          {% csrf_token %}
          <label for="email">Email</label>
          <input
            class="form-control"
            type="email"
            id="email"
            name="email"
            placeholder="Your Email"
          />
          <label for="password" style="margin-top:10%">Password</label>
          <input
            class="form-control"
            type="password"
            name="password"
            id="login-input"
            placeholder="Password"
          />
          <button
            type="submit"
            class="btn btn-primary"
            name="submit"
            value="Login"
            id = "loginbtn"
            style="margin-top:10%; width:100%; display:block;"
          >
          Login
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="myform form">
        {% if error %}
          <div class="alert alert-danger" role="alert">
            ERROR: {{error}}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto text-center">
      <div class="header-title" style="margin-top:80px; margin-bottom:10px">
        <h1 class="wv-heading--title">
          Create an Account
        </h1>
        <h2 class="wv-heading--subtitle">
          Don't have an account yet?
        </h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="myform form">
        <button 
          id="registerbtn" 
          type="button" 
          class="btn btn-success mb-2" 
          style="margin-top:10%; width:100%; display:block;"
          onclick="window.location.href='{% url 'frontend:register' %}'"
        >
        Register Here
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
