{% extends 'base.html' %} {% block content %}

<form method="post">
  {% csrf_token %}
    <div class="login-form">
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" placeholder="Enter email"> 
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" id="login-input" placeholder="Password">
            <button type="submit" class="btn btn-primary" name="submit" value="Login" style="margin-top:10%">
                Login
            </button>
            <br>
            {% if error %}
              {{error}}
            {% endif %}
        </div>
    </div>
</form>

{% endblock %}
