{% extends 'base.html' %} {% block content %}

<div class="container" style="margin-bottom:30px">
  <div class="row">
    <div class="col-md-6 mx-auto text-center">
      <div class="header-title" style="margin-top:80px; margin-bottom:40px">
        <h1 class="wv-heading--title">
          Register
        </h1>
        <h2 class="wv-heading--subtitle">
          Get started with UVA Furniture by creating an account!
        </h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="myform form ">
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input id=submitbtn type="submit" value="Submit" class="btn btn-primary mb-2" style="margin-top:10%; width:100%; display:block;">
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="myform form">
        {% if ERROR %}
          <div class="alert alert-danger" role="alert">
            ERROR: {{ERROR}}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
